@use "../abstracts/" as a;

.dropdown {
  position: relative;
}
.info__list {
  display: none;
  height: 0;
}

.navigation__items--sidebar {
  position: fixed;
  width: 75vw;
  top: 0;

  bottom: 0;
  height: auto;
  display: block;
  left: 125%;
  color: blue;
  background-color: white;
  transition: 0.6s ease-in-out;
  scroll-behavior: smooth;
  @include a.tablet-breakpoint {
    position: initial;
    display: flex;
    flex-direction: row;
    color: rgb(104, 104, 109);
  }
}

.active-sidebar {
  left: 35%;
  top: 0;
  bottom: 0;
  transition: 0.6s ease-in-out;
  overflow-x: scroll;
  scroll-behavior: smooth;
}

// navigation .navigation__nav-items .navigation__nav-item .navigation__nav-item-dropdown-menu
.navigation
  .navigation__nav-items
  .dropdown.active
  .navigation__nav-item-dropdown-menu {
  height: auto;
  display: block;
  overflow: visible;
  transition: 0.4s;
  right: 0em;
  margin: {
    bottom: 2em;
    bottom: 2em;
    left: 3em;
    top: 1em;
  }
  @include a.prefix(animation, fade-in ease-in 0.8s, ms webkit moz);

  @include a.tablet-breakpoint {
    display: block;
    height: auto;
    top: 1em;
    margin: {
      bottom: 0;
      bottom: 0;
      left: 0;
      top: 1em;
    }
    animation: none;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  60% {
    opacity: 0.5;
  }
  90% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}

.dropdown.active .arrow {
  transform: rotate(180deg);
}

.arrow {
  margin-left: 1em;
  @include a.extra-sm-phones-max {
    margin-left: 0.5em;
  }
}
.bar.active {
  display: none;
}

.close-menu.active {
  display: block;
}
